.dart_tool/
.venv/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.swiftpm/
.build/
.metadata
*.iml
__pycache__/
*.pyc
build/
coverage/
dist/
DerivedData/
Pods/
**/.DS_Store
**/.dart_tool/
**/build/
**/ephemeral/
**/GeneratedPluginRegistrant.*
**/Flutter/ephemeral/
**/pubspec.lock
/out/
